/*GENERAL*/
*{
  margin: 0;
  padding: 0;
}

html, body{
  font-size: 18px;
  background-color: #f5f6f7;
  min-height: 100vh;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

header{  
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 2;
  margin: 0px !important;
  padding: 0px !important;
}

nav {
  width: 100%;
  height: auto;  
  display: flex;
  justify-content: start;   
  background-color: #7e6ae2;    
  margin: 0px !important;
  padding: 0px !important;
}

.dropdown{   
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-bar{
  display: none;
}

.nav-bar.show{
  display: flex;
  flex-direction: column;
  font-size:13px; 
  margin-top: 25px; 
}

.nav-bar li {
  padding: 10px 0; 
  color: white;
  margin: 0px;
  list-style-type: none;
  z-index: 1;
  font-size: 15px;
  border-top: solid 1px rgb(79, 64, 206);
}

.dropdown a{
  color: white;
  text-decoration-line: none;
}

.dropdown a li:hover{  
  background-color: #7e6ae2;  
  color: rgb(79, 64, 206);

}

.hamburger {
  border: 0px;
  background-color: transparent;
  color:#f5f6f7;
  margin: 25px 25px 0 15px;
  font-size: 20px;
  padding: 0px;
}

.hamburger:hover{
  color: rgb(79, 64, 206);
}

#menu-icon{
  width: 45px;
  padding: 5px;
  border-radius: 50%;
  background-color: #f5f6f7;  
  margin: auto;
}

#menu-icon:hover{
  background-color: rgb(79, 64, 206);
}

.portada{
  margin-top: 120px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portada-row {
  width: 80%;
  justify-content: center;
  align-items: center;
}

.portada-image{
  max-width: 90%;  
}

#portada-name{
  color:#05232e;
  font-weight:inherit;
}

@media only screen and (max-width: 900px){
  .portada-info{
    max-width: 900px;
  }
  .portada-image{
    visibility: hidden;
    height: 0;
  }
}

/*SECTION*/
section {
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0px;
  z-index: 1;
}

.my-info, .my-stack, .contacto{
  padding-top: 100px;
  padding-bottom: 100px;
}

.my-info-2 h2, .my-stack h2, .contacto h2{
  text-align: center;
}

#sobre-mi, #my-projects, #my-stack, #contact-me{
  color:#05232e;
  font-size: 2.0rem;
}

/* SECTION: MY INFO */
.my-info{
  background-color:#05232e;
  width: 80% !important;
  align-self: center;
  justify-self: center;
}

.info p{
  color:white;
  font-size: 17px;
  line-height: 25px;
  font-weight: lighter;
}

.info {
  max-width: 500px;
  font-weight: inherit;
  margin: 30px;
  background-color: #05232e;
}

.avatar {
  height: 250px;
  border-radius: 50%;
  border: 4px solid #EEBBC3;
}

.my-stack section{
  width: 60%;
}
/* 
.my-stack div{
  width: 100px;
  height: 100px;
  
  margin: 15px;
  background-color: rgb(153, 250, 184);
  box-shadow: 5px 5px rgb(158, 148, 243); 
  text-align: center;  
}

.my-stack div:hover{
  background-image: linear-gradient(
    to bottom right,
    rgb(208, 203, 253),
    rgb(79, 64, 206)
  );
  
  margin-top: 10px;
}

.my-stack img{
  height: 60px;
  margin-top: 20px;  
}
.my-stack iconify-icon{
  color: rgb(158, 148, 243);
  font-size: 75px;
  margin: 20px;
} */


.container-mi-stack, .container-proyectos{
  margin: 220px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  
}
.iconos-mi-stack {
  margin: 20px 0;
  font-size: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  width: 80%;  
  justify-content: center;  
}
.iconos-mi-stack iconify-icon{
  margin: 15px;
}
.skills-list{
  color:#7e6ae2;
  width: 100%;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.skills-list ul{
  text-align: center;
  list-style: none;
}
.skills-list .row{
  width: 100%;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1100px){
  .skills-list .col-6{
    width: 100%;
  }
}



/*MY PROJECTS*/
@media only screen and (max-width: 600px){
  .my-stack section{
    width: 90%;
  }
  .my-info-2{
    flex-direction: column;
  }
}

.my-info-2 h3{  
  font-size: 1.7rem;
  color:#05232e;
  font-weight: lighter;
}

#pixel-art, .apps{
 background-color:#05232e; 
 padding: 10px 0;
 width: 320px;
 height: 470px;
 text-align: center;
 margin: 20px; 
 position: relative;
 border-radius: 10px;
 }

.apps:hover{
  /* background-color:rgb(79, 64, 206); */
  margin-top: 10px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;   
}
.content div{
  margin: 0 10px;
  width: 100%;
}
.content img{
  height: 180px;
  background-color: #7e6ae2;
}
.proj-parrafo h3{
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  background-color:#05232e;
  color:#EEBBC3;   
}
.proj-parrafo p{
  text-align: left;
  margin: 0px 10px;
  font-size: 14px; 
  color: #f5f6f7;
  /* height: 160px;
  overflow-y: hidden; 
  text-overflow: ellipsis;*/
}
.apps a{ 
  position: absolute;
  bottom: 15px;
  left: 15px;
  text-align: right;
  font-weight: bold;
  color:#7e6ae2;
  text-decoration: none;
  font-weight: lighter;
}
.apps a:hover{
  color:#EEBBC3;
}

a {
  text-decoration: none;
}


/*CONTACTO*/

form{
  width: 70%;
  color: white;
  text-align: center;
}

.contacto div{
  margin: 10px 0;
}

.contacto input, textarea{
  width: 80%;
  margin: 5px auto;
  padding: 10px;
}

.contacto label{
  /* text-transform: uppercase; */
  font-size: 20px;
}
 .contacto button{
  width: 120px;
  height: 60px;
  background-color:#EEBBC3;
  margin: 10px;
  box-shadow: 5px 5px rgb(158, 148, 243);   
  border: 0px;
  font-weight: bold;
  font-size: 20px;
  font-family: inherit;
}

.contacto button:hover{ 
  background-image: linear-gradient(
    to bottom right,
    rgb(208, 203, 253),
    rgb(79, 64, 206)
  );
}
.contacto button:active{ 
  background-color: rgb(158, 148, 243);
}

#mensajeEnviar{
  color: rgb(158, 148, 243);  
  margin: 15px 150px 0 150px;
  font-size: 20px;
}



#falla-mensaje{
  padding-top: 100px;
}


.redes i{
  margin: 15px;
  font-size: 50px;
  color:#EEBBC3;
}

.redes i:hover{
  margin-top: 10px;
  /*font-size: 55px;*/
  color:#7e6ae2;
}

.redes h3{
  font-size: 22px;
  font-weight: lighter;
}

#falla-mensaje img{
  width: 300px;
  margin: 10px 0 0 0;
  
}
/*FOOTER*/
footer{
  background-color: #05232e;
  padding-top: 20px;
}

footer ul, .btn-footer{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;  
  
}

footer li{
  list-style-type: none;
  font-weight: bold;
}

footer a {
  color:#f5f6f7;
  text-decoration: none;
}

footer a:hover {
  color:#EEBBC3;
}

a:active {
  color:#EEBBC3;
}

.btn-custom{
  background-color: #EEBBC3 !important;
  color: #05232e !important;
  border: 0px !important;
  margin: 15px 0;

}
.btn-custom:hover{
  background-color: #7e6ae2 !important;
  box-shadow: 2px 1px #EEBBC3;
}

@media only screen and (max-width: 600px){
  footer{
    display: none;
  }
}
